* {
    font-family:sans-serif
}

body {
    background-color:lightgoldenrodyellow;
    max-width:1500px;
    margin:auto;
}

.title,
.ingredients-title {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    background-color:bisque;
}

.ingredients-title {
    display:flex;
    flex-flow: wrap;
}

.title {
    border:2px solid;
}


.images {
    height:auto;
    border: 5px solid black;
    width:900px;
    display: block;
    margin:auto;
}

.index-list,
.nutrition-list {
    color:black;
    list-style-position: inside;
    font-family: sans-serif;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 5px;
    text-align: center;
    margin:auto;
}

.index-list {
    font-size: 20px;
    border: 2px dashed black;
    width: 800px;
}

.nutrition-list {
    font-size: 18px;
    border: 2px solid black;
    width: 270px;
    text-align: center;
    border-top: 1px solid black;
}

.nutrition-alignment {
    text-align: center;
    border-top: 1px solid black;
}

.button {
    text-align: center;
    text-decoration: none;
}

.recipe-list {
    display: flex;
    justify-content:space-between;
    list-style: none;
}

.recipe-list-objects {
    display:flex;
    flex-flow: wrap column;
    align-items: center;
    background-color: white;
    padding-bottom: 10px;
    border:2px solid;
}

.recipe-images {
    width:330px;
    height:295px;
    border-bottom: 2px solid;
}

.recipe-text {
    border:0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color:black;
}

.list-objects {
    display:flex;
    flex-flow: wrap column;
    border: 2px solid;
    flex-basis: auto;
    width:400px;
}

.list-title {
    display: flex;
    justify-content: center;
    background-color: bisque;
    border-bottom: 2px solid;
    font-family: 'Times New Roman', Times, serif;
}

.list-text {
    display:flex;
    flex-flow: wrap column;
    margin-top: 5px;
    list-style:disc;
}

